<h1 style="font-size:60px; text-align:center;">Angular Project</h1>
<br>
<br>
<br>
<table style="width:100%; background-color: darkgray;">
  <tr>
   
  </tr>

  <tr>
    <th rowspan="2"><a href="https://cli.angular.io/"><img src="assets/angularProject.png"  height="42%" width="100%"></a></th>
    <td width="35%">
        <h1 style="font-size:30px; text-align:center">Login Here</h1>
      <button type="button" class="button" (click)="onClick()">Login</button>
    </td>
  </tr>
  <tr>
    <td width="35%">
        <h1 style="font-size:30px; text-align:center;">Registration Here</h1>
      <button type="button" class="button" (click)="onClick2()">Registration</button>
    </td>
  </tr>
</table>