<div style="text-align:center">
    <h1>
      Welcome to {{ title }}
    </h1>
  </div>
  <table  style="width:100%; background-color: darkgray;">
      <tr style="text-align: center; height: 300px;" >
          <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="jumbotron">
                    <h2>REGISTRATION FORM</h2>
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                      <div class="formfield">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{'is-invalid':f.submitted && firstName.invalid}" name="firstName" required />
                        <div class="invalid-feedback">
                          <div>First Name is required</div>
                        </div>
                      </div>
                      <div class="formfield">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{'is-invalid':f.submitted && lastName.invalid}" name="lastName" required />
                        <div class="invalid-feedback">
                          <div>Last Name is required</div>
                        </div>
                        </div>
                        <div class="formfield">
                            <label for="username">User Name</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                            <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                                <div *ngIf="username.errors.required">User Name is required</div>
                            </div>
                      </div>
                      <div class="formfield">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid':f.submitted && email.invalid}" name="email" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                          <div *ngIf="email.errors.required">Email Name is required</div>
                          <div *ngIf="email.errors.email">Email must be a valid email Address</div>
                        </div>
                      </div>
                      
                      <div class="formfield">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{'is-invalid':f.submitted && password.invalid}" name="password" required minlength="10" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                          <div *ngIf="password.errors.required">Password Name is required</div>
                          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      </div>
                      <div class="formfield">
                        <button class="button button1">Registration</button> &nbsp;&nbsp;&nbsp;
                        <button class="button button1" (click)="onClick()">Back</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
 <p>Remember your Username and Password</p>
  </tr>
</table>
  <div style="text-align:right">
      <h4>
        Maintainer is SHIVALIKA GUPTA
      </h4>
    </div>
