
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}
    </h1>
  </div>
  <div style="text-align:right">
    <button class="button2" (click)="onAdd()">Add</button>
    <button class="button2" (click)="onBack()">Back</button>
  </div>
  <table  style="width:100%; background-color: darkgray;">
      <tr style="text-align: left; height: 200px;" >
        <table style="width:100%;" class="table table-bordered">
          <thead>
          <tr style="background:lightgrey" id="tblheading">
            <td>Sr.No</td>
              <td>Fist Name</td>
              <td>Last Name</td>
              <td>Post</td>
              <td>Salary</td>
              <td>Mobile No.</td>
              <td>Email Id</td>
              <td colspan="2">Actions</td>
          </tr>
          </thead>
        
          <tbody>
              <tr *ngFor="let emp of rowData; let i =index;">
                  <td>{{emp.srno}}</td>
                  <td>{{emp.fname}}</td>
                  <td>{{emp.lname}}</td>
                  <td>{{emp.post}}</td>
                  <td>{{emp.salary}}</td>
                  <td>{{emp.mobile}}</td>
                  <td>{{emp.email}}</td>
                  <td><button class="button button1" [routerLink]="['/edit', emp.srno]">Edit</button></td>
                  <td><button class="button button1"(click)="onDelete(emp.srno)">Delete</button></td>
              </tr>
          </tbody>
        </table>
  </tr>
</table>
  <div style="text-align:right">
      <h4>
        Maintainer is SHIVALIKA GUPTA
      </h4>
    </div> 
  